<form method="POST" action="/login">
  <input
    class="form-control"
    type="text"
    name="username"
    placeholder="username"
    style="width: 300px; margin: 1em"
  />
  <input
    class="form-control"
    type="text"
    name="Password"
    placeholder="Password"
    style="width: 300px; margin: 1em"
  />
  <button type='submit'>Sign In</button>
</form>

