<main>
  <body>
    <main style="margin: 1em;">
    <h3>Login</h3>
    <form method="POST" action="/login">
    <div class="form">
      <label for="email">Email Address:</label>
      <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 500px">
    </div>
    <div class="form">
      <label for="password">Password:</label>
      <input class="form-control" type="password" name="password" placeholder="Password" style="width: 500px">
    </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </body>
  </main>


